.container {
    width: 500px;
    margin: auto;
    background-color: #cfe8fc;
}

.testtube {
    margin: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 40px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    align-items: center;
    vertical-align: center;
    display: inline-block;
    padding-top: 20px;
}

.liquid {
    height: 20px;
    padding: 10px;
}

.liquid-1 {
    background-color: red;
}

.liquid-2 {
    background-color: green;
}

.liquid-3 {
    background-color: blue;
}

.liquid-4 {
    background-color: yellow;

}

.liquid-5 {
    background-color: gray;
}

.liquid-6 {
    background-color: limegreen;
}

.liquid-7 {
    background-color: violet;
}

.liquid-8 {
    background-color: pink;
}

.liquid-9 {
    background-color: orange;
}

.liquid-10 {
    background-color: skyblue;
}

.liquid-11 {
    background-color: lightgreen;
}

.liquid-12 {
    background-color: brown;
}

.selected {
    margin-bottom: 40px;
    margin-top: 0px;
}